@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap%22");

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
    font-family: "Quicksand", sans-serif;
   
    text-align: center;
    
}

img {

    display: block;
    object-fit: cover;
}

.card {
    display: flex;
    width: 20vw;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ffffff;

}

.cardbody {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.tag {
    align-self: flex-start;
    padding: 0.25em 0.75em;
    border-radius: 1em;
    font-size: 0.75rem;
}

.tag + .tag {
    margin-left: 0.5em;
}

.tag-blue {
    background: #56ccf2;
    background: linear-gradient(to bottom, #2f80ed, #56ccf2);
    color: #fafafa;
}
.cardbody h4{
    font-size: 80%;
    font-weight: 900;
    text-transform: capitalize;
}
p{
    font-size: 70%;
}
.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}
